@import '@cmsgov/design-system-support/src/settings/index';

p {
	top: 50%;
    position: absolute;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    font-family: $font-serif, 'Droid Sans', Helvetica, Arial, sans-serif;
}


	
